/* @media (max-width: 1440px) {
    body{
        overflow-x: hidden;
    }
    .menu {
        margin-left: 5%;
    }
    .menu li{
        padding:0 0.5rem;
        font-size: 20px;
    }
    .yellow-line{
        padding-left:2%;
    }
    .yellow-line h1{
        font-size: 100px;
    }
    .yellow-line h2{
        font-size: 100px;
    }
    .button{
        font-size: 25px;
        width: 250px;
        height: 85px;
        margin-left: 370px;
    }
    .part-1{
        padding:20px 0;
        padding-bottom:140px;
    }
    .part-1 span{
        font-size: 40px;
    }
    #rotate{
        left:0;
    }
    .text{
        font-size: 22px;
        width:700px;
        right:150px;
        top:115px;
    }
    .yellow-square{
        width: 70%;
        height: 170px;
        background-color: #ffba00;
        position:absolute;
        z-index:1;
        left:10%;
        top:1175px;
    }
} */