form img{
    width:50px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:12%;
}
.check{
    display: flex;
    flex-direction: row;
}
#email, #password{
    padding: 20px;
}
#email{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #88888830;
}
#password{
    border-bottom-left-radius: 5px;
    border-color: #88888830;
    border-bottom-right-radius: 5px;
}
#button{
    padding:10px 80px;
    border-radius: 5px;
    border-color: #88888830;
    background-color: aquamarine;
    color:white;
}
::placeholder{
    color:black;
}