/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~Homework 1~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~Task 1~~~~~~~~~ */
/* body{
    background-color: rgb(4, 4, 49);
}
.content{
    display:flex;
    flex-direction:row;
    color:rgb(79, 209, 242);
    align-items: center;
    justify-content: center;
    margin-top:15%;
}
.phrase{
    margin-right:100px;
}
h1{
    text-shadow: 10px 0px 0px white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:100px;
    margin:0;
    text-align:center;
}
.figure{
    display:block;
}
.block{
    display: flex;
    flex-direction: row;
}
.square1{
    width:200px;
    height:200px;
    background-color: rgb(79, 209, 242);
}
.square2{
    width:200px;
    height:200px;
    background-color: white;
}
#el1{
    border-top-right-radius: 150px 150px;
}
#el2{
    border-bottom-left-radius: 150px 150px;
} */


/* ~~~~~~~~~Task 2~~~~~~~~~ */
/* body{
    background-color: antiquewhite;
}
.footer{
    background-color: rgb(31, 178, 236);
    color:white;
    padding:20px;
    margin:20px;
}
.content{
    display:flex;
    flex-direction:row;
    font-size: 20px;
    letter-spacing: 10px;
}
.content > ul{
    list-style-type: none;
    margin-left:100px;
}
.ul1 > li{
    text-align: center;

}
.ul2 > li{
    margin-left: 100px!important;
}
#ul{
    letter-spacing: 3px;
}
.footer > p{
    text-align: center;
}
.button1, .button2{
    border:1px solid white;
    border-radius: 100px;
    margin-top: 10px;
    padding:10px 0;
    padding-left: 10px;
}
.button2{
    width:100px;
    background-color: white;
    border-color: rgb(31, 178, 236);
    color:rgb(31, 178, 236);
} */


/* ~~~~~~~~~Task 3~~~~~~~~~ */
body{
    background-color: antiquewhite;
    padding:10px;
    font-family: Verdana;
}
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
img{
    position:absolute;
    top:45px;
    left:285px;
    height:20px;
}
.h3{
    color:gray;
    position:absolute;
    top: 25px;
    left:305px;
}
p{
    width:500px;
    font-size:20px;
    margin-top:0;
}
.column2 > h4{
    margin:0;
    color:gray;
}
.column2 > h3{
    margin-top:0;
}
.column3{
    text-align: right;
}
.div{
    display:flex;
    width:225px;
    margin-left: 270px;
}
.div > input{
    height:20px;
}
#green{
    color:green;
}
#brown{
    color:brown;
}
.buttons, .first, .last{
    display: flex;
    flex-direction: row;
}
.button{
    background-color: #a76500;
    padding:10px;
    width:125px;
    color:white;
    margin:2px;
    text-align: center;
}
.last{
    margin-left: 15px;
}
.last > .button{
    width:80px;
}
#gray{
    background-color: #e2d7b9;
    color:#aca18b;
}
.last > svg{
    margin-top: 12px;
    margin-left: 10px;
}

th{
    font-weight: lighter;
    width:90px;
}
#th1{
    border-bottom:4px solid #556980;
}
#th2{
    border-bottom:4px solid #3c4f6d ;
}
#th3{
    border-bottom:4px solid #916130;
}
#th4{
    border-bottom:4px solid #4175a8;
}
#th5{
    border-bottom:4px solid #7b746b;
}
#th6{
    border-bottom:4px solid #751f1e;
}
#th7{
    border-bottom:4px solid #322b23;
}
#th8{
    border-bottom:4px solid #892229;
}
#th9{
    border-bottom:4px solid #95a559;
}
#th10{
    border-bottom:4px solid #802529;
}
#th11{
    border-bottom:4px solid #6382af;
}
#th12{
    border-bottom:4px solid #91622a;
}
#th13{
    border-bottom:4px solid #262019;
}
#th14{
    border-bottom:4px solid #8958e3;
}
#th15{
    border-bottom:4px solid #0a0300;
}
#th16{
    border-bottom:4px solid #090200;
}
#th17{
    border-bottom:4px solid #5c0e91;
}
td{
    text-align: center;
    padding:5px;
    color:white;
}
#red{
    background: linear-gradient(70deg, #b83a2c, #bf4331,#b83a2c, #bf4331,#b83a2c, #bf4331,#b83a2c, #bf4331,#b83a2c, #bf4331,#b83a2c );
}
#green2{
    background: linear-gradient(to right, #807500, #696d0c, #807500, #696d0c, #807500, #696d0c, #807500, #696d0c, #807500, #696d0c, #807500);
}
#green3{
    background-color: green;
}